<!-- ---------- BANNER ---------- -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path('myke-simon-atsUqIm3wxo-unsplash_cmidio') %>')">
  <div class="container">
    <h1>Save your <strong>favorite movies</strong>!</h1>
    <p>Change your life and save your favorite movies in lists with bookmarks.</p>
  </div>
</div>

<!-- ---------- TITRE ---------- -->
<div id="home-page-title" class="row">
  <div class="col">
    <h2>My lists</h2>
  </div>
  <div class="col">
    <button type="button" class="btn btn-outline-primary"><%= link_to "New list", new_list_path %></button>
  </div>
</div>

<!-- ---------- MOVIE LISTS ---------- -->
<div id="movie-list-cards" class="row row-cols-1 row-cols-md-3 g-4">
  <% @lists.each do |list| %>
    <div class="col">
      <div class="card btn" >
        <% if list.photo.attached? %>
          <%= cl_image_tag(list.photo.key) %>
        <% end %>
        <h5 class="card-title"><%= link_to list.name, list %></h5>
      </div>
    </div>
  <% end %>
</div>
